.getvid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 75vh;
    width: 30vw;
    padding: 10px; 
    box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
    border-radius: 10px;
}

.previews {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-box {
    height: 30px;
    width: 60vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: c;
}

video {
    height: 100%;
    width: auto;
    max-height: 60vh;
    border-radius: 10px;

}

input[type="file"]{
    display: none;
}

label {
    cursor: pointer;
}

.swing-head {
    padding: 0%;
}

#rectangle {
    height: 60vh;
    width: 100%; /* Responsive width */
    max-width: 33.75vh; 
    background-color: rgba(236, 236, 236, 0.68);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 5px solid grey;
    border-style: dashed;
    border-radius: 5%;
}

#upload-img {
    height: 10vh;
    box-shadow: 0 6px 10px hsl(0deg 0% 0% / 0.3);
    border-radius: 50%;
    background-color: white;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


/* CSS */
button {
  color: white;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: 0 6px 10px hsl(0deg 0% 0% / 0.3);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


.submit {
    background-color: #4285f4;
}
.clear {
    background-color: #737373;
}